<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

  <h2 th:text="#{welcome}" class="welcome-title">Welcome</h2>
  <p>Spring PetClinic 데모 애플리케이션에 오신 것을 환영합니다!</p>
  <div class="alert alert-success">
    <strong>상태:</strong> <span th:text="#{welcome}">쿠버네티스 배포 성공!!</span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}" />
    </div>
  </div>

</body>

</html>